*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: "Inter", sans-serif;
}

* a {
    text-decoration: none;
    color: black;
}

/* Color pallette
color choices
yellow: #F2E41D
orange: F28627
green: 648C0D
blue: 148EFF


*/


:root {
    --background: #ffffff;
    --primary: #282828;
    --secondary: #F2E41D;
}

main {
    
    min-height: 90vh;
    padding-top: 70px;
    background-color: var(--background);
    display: grid;
    place-items: center;
}


/*  HEADER CSS */
#header {
    position:fixed;
    width: 100%;
    height: 70px;
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-basis: 100%;
    border-bottom: 5px solid var(--secondary);
    align-content: center;
    z-index: 90;
}

#header a {
    color: white;
}



.link-container a:hover, .link-container a:focus {
    color: var(--secondary);
    transition: color 0.3s;
}


.link-container a:after {
    display: block;
    content: '';
    border-bottom: solid 1px var(--secondary);  
    transform: scaleX(0);  
    transition: transform 0.25s ease-in-out;
  }
  .link-container a:hover:after, .link-container a:focus:after { transform: scaleX(1); }
  .link-container a:after{  transform-origin:  0% 50%; }

  .link-container a:before {
    display:block;
    content: '';
    border-top: solid 1px var(--secondary);
    transform: scaleX(0);  
    transition: transform 0.25s ease-in-out;
  }

  .link-container a:hover:before, .link-container a:focus:before { transform: scaleX(1); }
  .link-container a:after{ transform-origin: 0% 50%; }

.secondary-color {
    color: var(--secondary)
}

.title-container h1, .secondary-color, footer h1 {
    font-family: "Jomhuria", serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
}


.logo {
    width: auto;
    height: 50px;
    margin-right: 5px;
}

.link-container, .title-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
}

.title-container a {
    margin-left: 50px;
}


.searchbar {
    display: flex;
    background-color: #FFFFFF;
    min-width: 150px;
    max-width: 15%;
    height: 50%;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
   
    margin-right: 5%;
}

.searchbar input {
    border: 0;
    padding: 0;
    padding-left: 5px;
    margin-left: 10px;
    display: flex;
    width: 80%;
    height: 80%;
    outline: none;
    justify-content: center;
}

.searchbar button {
    background-color: #FFFFFF;
    border: none;
    float: right;
    margin-right: 10px;
}

.searchicon {
    height: 25px;
    width: auto;
}

#footer {
    border-top: 5px solid var(--secondary);
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}

/* Mobile menu */

#menu-checkbox {
    display: none;
}


div.mobile-menu {
    display: none;
}

#mobile-dropdown-menu,#menu-checkbox, #explore-checkbox, #mobile-explore-dropdown, #exhi-checkbox, #mobile-exhi-dropdown {
    display: none;
}

#menu-checkbox:checked ~ #mobile-dropdown-menu {
    display: block;
}



#mobile-dropdown-menu {
    padding-top: 20px;
    margin-top: 74px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100dvh;
    background-color: var(--primary);
    font-weight: 600;
    line-height: 3rem;
    z-index: 4;
    animation: slidedown 0.3s ease-in-out;
    transform-origin: top center;
}

#mobile-dropdown-menu a {
    color: white;
    font-size: 2rem;
}

#mobile-dropdown-menu li {
    border-bottom: 1px solid var(--secondary);
}

@keyframes slidedown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}



.mouse-pointer {
    cursor: pointer;
}

.mobile-menu-button {
    float: right;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.hamburger-menu {
    content: '';
    width: 40px;
    height: 6px;
    background-color:white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu::before,  .hamburger-menu::after{
    content: '';
    width: 40px;
    height: 6px;
    background-color:white;
    position: absolute;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.hamburger-menu::before {
    top: 12px;
}

.hamburger-menu::after {
    bottom: 12px;
}

.mobile-menu-button.open .hamburger-menu::before {
    transform: rotate(45deg) translate(5px, 10px);
}

.mobile-menu-button.open .hamburger-menu::after {
    transform: rotate(-45deg) translate(5px, -10px);
}


.mobile-menu-button.open .hamburger-menu {
    background-color: #000000;
}

.logo-container {
    width: 70px;
    margin-left: 20px;
    display: inline-block;
    transform: translateY(8px);
}

.menu-logo {
    height: auto;
    width: 2rem;
}


/* CSS reusable classes */

.CTA {
    padding: 5px 40px;
    width: fit-content;
    margin: 10px 0 10px 0;
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 2px 6px 10px black;
    cursor: pointer;
    border: 2px solid black;
}

.CTA:hover, .CTA:focus {
    background-color: var(--primary);
    color: var(--secondary);
    box-shadow: 2px 6px 10px var(--secondary);
    border: 2px solid var(--secondary);
}

.CTA h2 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-size: 50px;
    transform: translateY(2px);
}

.hero .CTA {
    padding: 3px 20px;
    margin: 10px 0 10px 0;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-hero {
    position: relative;
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waves {
    z-index: 3;
    position: absolute;
    width: 100%;
    transform: rotate(180deg);
    bottom: 0;
}

.top-waves {
 
    width: 100%;
    transform: rotate(0deg);
    top: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: start;
}

.flex-col {
    flex-direction: column;
    width: 100%;
}

.post-page-wrapper {
    width: 100%;
    grid-template-columns: auto auto;
    place-items: start;
}

main h1 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
}

main h2 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

main h3 {
    margin-top: 5px;
}

/* Loading animation */

.loading {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 150px;
}

.loading span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loading span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1.2);
    }
    80%, 100% {
        transform: scale(0);
    }
}

.plane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    animation-delay: -1.1s;
}

@keyframes rotating {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(370deg);
    }
}

.plane::before {
    content: '';
    position: absolute;
    top: 90px;
    left: 90px;
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
    background: url(/images/plane.svg);
}

/* CSS for the landing page */

.hero {
    position: relative;
    background-image: url("/images/hero.jpg");
    width: 100%;
    height: 600px;
    background-position: left center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container {
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 2;

}



.carousel, .carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.next-button, .previous-button {
    width: 70px;
    height: 70px;
    font-size: 2.5em;
    background-color:black;
    color: white;
    border-radius: 0 3px 3px 0;
    margin: 10px 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.carousel-card {
    width: 500px;
    height: 250px;
    margin: 10px;
    background-color: var(--background);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.related-container .carousel-card{
    margin-bottom: 50px;
}


.carousel-link {
    display: contents;
}

.hover-text {
    position: absolute;
    opacity: 0;
    color:white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}

.hover-text p {
    padding: 10px;
}

.carousel-card:hover .hover-text, .carousel-card:focus .hover-text {
    opacity: 1;
}

.new-blog-posts {
    width: 100%;
}

.new-blog-posts h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    font-family: "Jomhuria", serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
}

.whois-hero {
    margin-top: 150px;
    height: 600px;
    position: relative;
    background-image: url("/images/whoishero.jpg");
}

.whois {
    position: absolute;
    padding: 20px;
    width: 700px;
    right: 10%;
    bottom: 10%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.7);
}

.whois p {
    margin-top: 10px;
    font-size: 0.8rem;
}

/* CSS for the blog page */

.blog-hero {
    background-image: url("/images/bloghero.jpg");

}

.posts-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-content: space-between;
}

.post-container h2 {
    margin-top: 40px;
    font-size: 2rem;
}

.post-container ol {
    margin-left: 20px;
}

.post-container .image-container {
    border-radius: 100px 100px 0 0;
}

.blog-card {
    max-width: 500px;
    height: auto;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: var(--background);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 6px 10px rgba(0,0,0,.5);
    
}

.blog-card p {
    margin-top: 5px;
}

.blog-card:hover, .blog-card:focus {
    scale: 1.01;
    box-shadow: 3px 7px 11px black;
    .CTA {
        background-color: #000000;
        color: var(--secondary);
        box-shadow: 6px 6px 10px var(--secondary);
        border: 2px solid var(--secondary);
    }
}

.blog-card img {
    width: 70%;
    height: auto;
}

.button-container {
    height: 100%;
    display: flex;
    align-items: end;
}

/* CSS for the posts pages */

.post-container, .comments-container {
    width: 90%;
    background-color: var(--background);
}

.comments-container {
    width: 60%;
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 1;
}

.load-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 1;

}


.post-container p {
    margin: 1rem 0;
}

.post-container img {
    width: 100%;
    height: auto;
}


.new-comment {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.comment {
    background-color: rgb(223, 221, 221); 
    margin: 20px 0 20px 0;  
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 6px 10px rgba(0,0,0,.5);
}


.modal {
    display: none;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal img {
    width: 70%;
    display: none;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

figure {
    width: 60%;
    margin: auto;
}

.related-container {
    display: flex;
    flex-direction: column;
    margin: 70px 30px 30px;
    
}

.related-wrapper {
    margin-top: 50px;
    text-align: center;
}

/* */

.about-hero {
    background-image: url("/images/abouthero.jpg");
}

.about-me {
    width: 50%;
    background-color: var(--background);
    padding: 30px;
    border-radius: 10px;
}

/* CSS for contact page */

.contact-hero {
    background-image: url("/images/contacthero.jpg");
}

.contact-form {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.error-msg {
    display: none;
    color: red;
}

.contact-form, .new-comment {
    input, textarea {
     border-radius: 5px;
     border: 1px solid black;
     padding: 2px 5px;
    }
}

/* Adjustments for smaller screens */
@media (max-width: 1750px) {
.carousel-card {
    width: 400px;
    height: 200px; 
}
}

@media (max-width: 1450px) {
    .carousel-card {
        width: 320px;
        height: 200px;      
    }
    }


/* Mobile version adjustmens */

@media (max-width: 1200px) {

    .title-container {
        width: 100%;
    }


    div.mobile-menu {
        display: block;
    }

    .nav-wrapper {
        width: 90%;
    }

    .mobile-menu {
        display: block;
    }

    .link-container {
        display: none;
    }

    .hero-container {
        position: absolute;
        top: 65%;
        left: 10%;
        z-index: 2;
    }

    .carousel, .carousel-container {
        flex-direction: column;
        height: auto;
    }

    .carousel-card {
        width: 90%;
        height: auto;
        
    }

    .next-button, .previous-button {
        display: none;
        
    }

    .searchbar {
        display: none;
    }

    .menu-search .searchbar {
        display: flex;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .whois {
        width: 90%;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;

    }

    .posts-container {
        grid-template-columns: auto;
    }

    .post-page-wrapper {
        grid-template-columns: auto;
    }

    .related-wrapper {
        margin-top: 10px;
        width: 100%;
    }

    main .waves, .waves {
        height: 50px;
    }

    .title-container h1, .secondary-color {
        font-size: 50px;
    }

    .logo {
        width: auto;
        height: 40px;
        margin-left: 10px;
    }
    .whois {
        position: absolute;
        width: auto;
        bottom: 5%;
        p{
            font-size: 0.7rem;
        }
    }
    
    .contact-form {
        width: 70%;
    }

    .about-me {
        width: 90%;
        padding: 0;
    }

    .post-hero {
        height: 400px;
    }

    main h1 {
        font-size: 70px;
        line-height: normal;
    }

    
}